.root {
    -fx-background-color: #FFFFFF;
    -fx-alignment: TOP_CENTER;
    -fx-padding: 0;

}

.title {
    -fx-font-family: "Lemon Milk Pro Variable";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.subtitle {
    -fx-font-family: "Lemon Milk Pro Variable";
    -fx-font-size: 14px;
    -fx-text-fill: #666666;
    -fx-text-alignment: center;
}

.tab-button {
    -fx-font-family: "Lemon Milk Pro Variable";
    -fx-font-size: 14px;
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #000000;
    -fx-pref-width: 100px;
    -fx-pref-height: 40px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.tab-button-selected {
    -fx-font-family: "Lemon Milk Pro Variable";
    -fx-font-size: 14px;
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-pref-width: 100px;
    -fx-pref-height: 40px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-color: #0267ff;
    -fx-border-width: 2;
}

.field-label {
    -fx-font-family: "Lemon Milk Pro Variable";
    -fx-font-size: 14px;
    -fx-text-fill: #000000;
}

.text-field {
    -fx-font-family: "Lemon Milk Pro Variable";
    -fx-font-size: 14px;
    -fx-background-color: #e6f0fa;
    -fx-pref-width: 300px;
    -fx-pref-height: 40px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.login-button {
    -fx-font-family: "Lemon Milk Pro Variable";
    -fx-font-size: 16px;
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
    -fx-pref-width: 300px;
    -fx-pref-height: 50px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.text-field:focused {
    -fx-border-color: #0267ff;
    -fx-border-width: 2;
}

.login-button:hover {
    -fx-background-color: #0267ff;
}

.accordion .titled-pane .title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-font-family: "Roboto";
}

.accordion .titled-pane .content {
    -fx-background-color: #F5F5F5;
    -fx-padding: 8;
}

.accordion .titled-pane .arrow {
    -fx-background-color: #007BFF;
}

<!-- Estilo para o botão de mazoinha -->

.button-hover {
    -fx-cursor: hand;
}

.radio-button > .radio {
    -fx-mark-color: #3585FF; /* Cor da bolinha preenchida */
    -fx-background-color: #ffffff; /* Fundo da bolinha */
    -fx-border-color: #3585FF; /* Cor da borda da bolinha */
    -fx-border-radius: 50;
}
